/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@300;400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --color-white: 0, 0%, 100%;
  --color-black: 0, 0%, 2%;
  --color-green: 135, 48%, 51%;

  --color-body: hsl(var(--color-white));
  --color-container: hsl(var(--color-black), 0.05);

  --color-text: hsl(var(--color-black));
  --color-text-light: hsl(var(--color-black), 0.6);

  /*========== Font & Typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --font-family: "Baloo 2", cursive;

  --font-size-h1: clamp(1.75rem, 1.286rem + 1.071vw, 2.25rem);
  --font-size-normal: clamp(0.938rem, 0.92rem + 0.089vw, 1rem);

  /*========== Margins ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --margin-big: clamp(1.75rem, 1.107rem + 3.214vw, 4rem);
  --margin-normal: clamp(1rem, 0.929rem + 0.357vw, 1.25rem);
  --margin-small: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
  --margin-tiny: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);

  /*========== Transitions ==========*/
  --transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/*=============== THEME ===============*/
@media (prefers-color-scheme: dark) {
  :root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --color-body: hsl(210, 4%, 10%);
    --color-container: hsl(210, 3%, 15%);

    --color-text: hsl(var(--color-white));
    --color-text-light: hsl(var(--color-white), 0.6);
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-body);
  color: var(--color-text);
}

body,
button,
input,
textarea {
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
}

h1 {
  font-size: var(--font-size-h1);
  margin-bottom: var(--margin-normal);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

kbd {
  border: 1px solid var(--color-container);
  border-radius: 0.25rem;
  padding-inline: var(--margin-tiny);
}

/*=============== REUSABLE CSS CLASSES ===============*/
/*========== Wrappers ==========*/
.container {
  margin-inline: auto;
  max-width: 980px;
  padding-inline: var(--margin-normal);
}

.section {
  padding-block: var(--margin-big);
}

.section__heading {
  grid-area: heading;
  text-transform: uppercase;
}

/*========== Lists ==========*/
.list {
  --gap: var(--margin-small);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.list--vertical {
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

/*========== Icons ==========*/
i::before {
  vertical-align: middle;
}

/*========== Links / Buttons ==========*/
.link {
  color: var(--color-text-light);
  cursor: pointer;
  transition: color 0.3s var(--transition-cubic-bezier),
    background-color 0.3s var(--transition-cubic-bezier);
}

.link:is(.link--active, :hover, :focus-visible) {
  color: var(--color-text);
}

.link--button {
  border-radius: 0.25rem;
  display: inline-block;
  padding: var(--margin-tiny) var(--margin-small);
}

.link--button:is(.link--active, :hover, :focus-visible) {
  background-color: var(--color-container);
}

/*=============== MAIN ===============*/
body {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-rows: 1fr auto;
  min-height: 100dvh;
}

main {
  grid-area: main;
}

.app {
  column-gap: var(--margin-big);
  display: grid;
  grid-template-areas:
    "heading heading"
    "canvas menu";
  grid-template-columns: auto 1fr;
}

.app__canvas {
  display: flex;
  flex-direction: column;
  gap: var(--margin-small);
  grid-area: canvas;
}

.app__canvas canvas {
  background-color: var(--color-container);
  border-radius: 0.25rem;
}

.canvas__list {
  gap: unset;
  justify-content: center;
}

.canvas__list li {
  align-items: center;
  color: var(--color-text-light);
  display: flex;
  padding-inline: var(--margin-small);
  position: relative;
  gap: var(--margin-tiny);
}

.canvas__list li:not(:first-child)::before {
  content: "|";
  left: 0;
  position: absolute;
}

.app__menu {
  grid-area: menu;
}

.app__list {
  position: relative;
}

.app__list li {
  display: flex;
  padding: var(--margin-tiny) var(--margin-small);
  position: absolute;
  transition: transform 0.3s var(--transition-cubic-bezier);
  width: 100%;
}

.app__list li span:first-child {
  flex: 1;
}

/*=============== FOOTER ===============*/
footer {
  grid-area: footer;
}

.footer__nav {
  border-top: 1px solid var(--color-container);
  padding-block: var(--margin-normal);
}
