<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== CSS ===============-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')}}" />

    <!--=============== JS ===============-->
    <script src="{{ url_for('static', filename='js/main.js')}}" defer></script>

    <!--=============== METADATA ===============-->
    <title>Handwritten Digit Recognition | by Joshua Schärer</title>
    <meta
      name="keywords"
      content="Joshua Schärer, Joshua Schaerer, handwritten digit recognition, ai" />
    <meta
      name="description"
      content="Check out Joshua Schärer's project on handwritten digit recognition. This site showcases my python implementation using a Deep Learning algorithm." />
    <meta name="author" content="Joshua Schärer" />
    <meta name="copyright" content="Joshua Schärer" />
    <meta name="color-scheme" content="dark light" />
  </head>
  <body>
    <!--==================== MAIN ====================-->
    <main class="main" id="main">
      <div class="container">
        <section class="app section" id="app">
          <h1 class="section__heading">Handwritten Digit Recgonition</h1>

          <canvas
            class="app__canvas"
            id="canvas"
            width="400px"
            height="400px"></canvas>

          <div class="app__menu">
            <ul class="app__list list list--vertical" id="app-list">
              <li class="list__item">
                <span>Zero</span>
                <span id="item-0">00.00</span>
                %
              </li>
              <li class="list__item">
                <span>One</span>
                <span id="item-1">00.00</span>
                %
              </li>
              <li class="list__item">
                <span>Two</span>
                <span id="item-2">00.00</span>
                %
              </li>
              <li class="list__item">
                <span>Three</span>
                <span id="item-3">00.00</span>
                %
              </li>
              <li class="list__item">
                <span>Four</span>
                <span id="item-4">00.00</span>
                %
              </li>
              <li class="list__item">
                <span>Five</span>
                <span id="item-5">00.00</span>
                %
              </li>
              <li class="list__item">
                <span>Six</span>
                <span id="item-6">00.00</span>
                %
              </li>
              <li class="list__item">
                <span>Seven</span>
                <span id="item-7">00.00</span>
                %
              </li>
              <li class="list__item">
                <span>Eight</span>
                <span id="item-8">00.00</span>
                %
              </li>
              <li class="list__item">
                <span>Nine</span>
                <span id="item-9">00.00</span>
                %
              </li>
            </ul>
          </div>
        </section>
      </div>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer" id="footer">
      <nav class="footer__nav container" id="footer-nav" aria-label="footer">
        <div class="footer__menu">
          <ul class="footer__list list">
            <li class="list__item">
              <a
                target="_blank"
                href="https://joshuaschaerer.ch"
                class="link link--button">
                by Joshua Schärer
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
  </body>
</html>
